<tr>
  <td class="center-align"><%= association.name.capitalize %></td>
  <!--TODO:sb Re-enable rankings when user-voting is implemented-->
  <!--<td class="left-align">(<%= association.ranking %>%)</td>-->
</tr>