<!-- application.html.erb will set this to the body's background color -->
<% @background_color="grey lighten-4" %>

<div class="container">
  <div style="margin:0;padding:0;overflow:hidden">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVHj6s8AbEnqEkZekqCraQ6HESNgyJPUXQdKg-4lgM_6vEdQ/viewform?embedded=true"
            frameborder="0" style="overflow:hidden;height:100%;width:100%;position:absolute;top:0;left:0;right:0;bottom:0" height="80%" width="100%"></iframe>
  </div>
</div>