<!-- application.html.erb will set this to the body's background color -->
<% @background_color="grey lighten-4" %>

<div class="container">
  <br>
  <br>

  <div class="row">
    <form class="col s12" autocomplete="off" style="margin-bottom: 5px;" action="#">
      <div class="input-field col m8 s12 offset-m2">
        <i class="material-icons prefix">search</i>
        <%= form_tag(welcome_index_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], autofocus: params[:search].blank? && !(request.user_agent =~ /Mobile|webOS/) ? true : false, style: "margin-bottom: 10px;" %>
        <% end %>
        <label for="search">What item are you looking for?</label>
        <i class="material-icons prefix clear-input">close</i>
      </div>
    </form>

    <%= render partial: 'search_results' %>

  </div>
</div>