<!-- application.html.erb will set this to the body's background color -->
<% @background_color="grey lighten-4" %>

<div class="container">
  <br>

  <div class="row">
    <div class="col s12 center">
      <h2 class="teal-text">Item Finder</h2>
      <h5 class="teal-text"><i>The quickest way to search for items on-the-go.</i></h5>
    </div>
    <div class="col s12 m8 offset-m2 center">
      <p class="flow-text">
        Item Finder was created to answer one question:
        <br>
        <b class="left">"Where can I find</b>
        <br>
        <span style="font-size: 1.1rem">
          <i>romaine lettuce / baked beans / papaya / paprika / quinoa / flaxseed / cornstarch / honey / tahini / peanut butter / etc.</i>
        </span>
        <br>
        <b class="right">in the store?"</b>
      </p>
      <br>
      <p style="font-size: 1.1rem">
        We want to make it as easy as possible to find anything in any store.
        <br>
        Walking up and down aisles looking for <i>'quinoa'</i> is now a thing of the past.
        One quick search and you'll see that you can just head straight over to the <i>'rice'</i> aisle!
      </p>
    </div>

    <div class="col s12">
      <br>
    </div>

    <div class="col s12 center">
      <h4 class="teal-text">The Future</h4>
    </div>
    <div class="col s12 m8 offset-m2 center" style="font-size: 1.1rem">
      Upcoming improvements:
      <ul>
        <li>
          ✓ Search by store
        </li>
        <li>
          ✓ Search auto-complete
        </li>
        <li>
          ✓ Comments (e.g. 'Top shelf')
        </li>
        <li>
          ✓ Downloadable App
        </li>
        <li>
          And more!
        </li>
      </ul>
    </div>

    <div class="col s12">
      <br>
    </div>

    <div class="col s12 center">
      <h4 class="teal-text">Recommendations?</h4>
      <div class="col s12 m8 offset-m2 center" style="font-size: 1.1rem">
        Did you expect different results for a search?<br>
        Did something seem unhelpful?<br>
        Do you just have some general suggestions?<br><br>
        <i>Please use the 'Feedback' button at the bottom of the screen to contact us.</i>
      </div>
    </div>

    <div class="col s12">
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="col s12 center">
      <i class="flow-text">Say goodbye to store-wandering!</i>
      <br>
      <br>
      <span style="text-decoration-line: line-through; text-decoration-color: teal;">"Where is ... in the grocery store?"</span>
      &emsp;
      <br class="hide-on-med-and-up">
      <span style="text-decoration-line: line-through; text-decoration-color: teal;">"What aisle can I find ...?"</span>
      &emsp;
      <br class="hide-on-med-and-up">
      <span style="text-decoration-line: line-through; text-decoration-color: teal;">"I don't know where to look for ...?"</span>
      &emsp;
      <br>
      <span style="text-decoration-line: line-through; text-decoration-color: teal;">"Where are they hiding ...?"</span>
      &emsp;
      <br class="hide-on-med-and-up">
      <span style="text-decoration-line: line-through; text-decoration-color: teal;">"This grocery store is too big to find anything!"</span>
      &emsp;
    </div>

  </div>
</div>